@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, h1, h2, p, ul, li, form, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0;
}

header {
    background-color: #0085A1;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header img {
    width: 150px;
    height: 100px;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#contact-info {
    padding: 20px;
    text-align: center;
}

#contact-info h1 {
    color: #0085A1;
}

.company-info {
    margin: 20px 0;
}

.company-info address {
    font-style: normal;
}

#employee-profiles {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.employee {
    text-align: center;
    margin: 10px;
}

.employee img {
    max-width: 100px;
    border-radius: 50%;
}

#contact-form {
    margin-top: 20px;
}

form label, form input, form select, form textarea, form button {
    display: block;
    margin-bottom: 10px;
}

form label {
    font-weight: bold;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form select {
    height: 40px;
}

form textarea {
    height: 150px;
}

form input[type="checkbox"] {
    display: inline;
    margin-right: 5px;
}

form button {
    background-color: #0085A1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover and focus styles for better user experience */
form input:focus, form select:focus, form textarea:focus {
    border-color: #0085A1;
}

form button:hover {
    background-color: #005f80;
}

footer {
    background-color: #0085A1;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    #employee-profiles {
        flex-direction: column;
        align-items: center;
    }

    .employee {
        text-align: center;
        margin: 10px 0;
    }
}