@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
    --primary-color: #A00364;
    --secondary-colour: #D7FCD4;
    --accent1-colour: #141B0E;
    --accent2-color: #CFB277;

    --heading-font: 'Roboto', serif
    --paragraph-font: 'Roboto', serif


    --nav-background-color: #396e94;
    --nav-link-color: #CFB277;
    --nav-hover-link-color: #0c8348;
    --nav-hover-background-color: #141414; 
}

body {
    font-family: var(--roboto);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--rock-salt);
    color:var(--primary-color)
}
header {
    padding: 20px;
    background-color: var(--accent1-colour);
}
p {
    padding: 25px;
}
nav {
    background-color: var(#396e94);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(#CFB277)
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(#CFB277)
}
nav a:hover {
    color: var( #0c8348)
    background-color: var( #141414)
}